@page "/EditReclamo"
@page "/EditReclamo/{ReclamoId:int}"
@rendermode InteractiveServer
@inject NavigationManager Navigation
@inject ReclamoService reclamoservice
@inject ClienteService clienteservice

<PageTitle>Edición de Reclamos</PageTitle>

<style>
    body {
        background: linear-gradient(to right, #b3e5fc, #81d4fa);
        color: #000;
    }

    .card {
        background: linear-gradient(to right, #e1f5fe, #b3e5fc);
        border-radius: 20px;
        padding: 1rem;
        box-shadow: 0 0 15px rgba(33, 150, 243, 0.5);
        color: #000;
    }

    .card-header {
        background-color: #0288d1; /* Color de fondo azul */
        color: white;
        border-radius: 20px 20px 0 0;
        padding: 1rem;
    }

    .card-footer {
        background-color: #e1f5fe; /* Color de fondo claro */
    }

    .btn-outline-primary {
        color: #ffffff;
        background-color: #0288d1;
        border-color: #0288d1;
    }

    .btn-outline-primary:hover {
        background-color: #0277bd;
        border-color: #0277bd;
    }

    .btn-outline-success {
        background-color: #ffffff;
        color: #4caf50; /* Color verde */
        border: 2px solid #4caf50;
    }

    .btn-outline-success:hover {
        background-color: #4caf50;
        color: #fff;
    }
</style>

<EditForm Model="reclamo" OnValidSubmit="Guardar">
    <DataAnnotationsValidator />
    <div class="card shadow-lg">
        <div class="card-header">
            <h3>Editar Reclamo</h3>
        </div>
        <div class="card-body">
            <div class="row mb-3">
                <div class="col col-6">
                    <label>Fecha del Reclamo:</label>
                    <InputDate @bind-Value="reclamo.FechaReclamo" class="form-control"></InputDate>
                    <ValidationMessage For="(() => reclamo.FechaReclamo)"></ValidationMessage>
                </div>
                <div class="col col-6">
                    <label>Cliente a Reclamar:</label>
                    <InputSelect @bind-Value="reclamo.ClienteId" class="form-select">
                        <option value="0" selected disabled>Seleccione...</option>
                        @foreach (var item in listaCliente)
                        {
                            <option value="@item.ClienteId">@item.Email</option>
                        }
                    </InputSelect>
                    <ValidationMessage For="(() => reclamo.ClienteId)"></ValidationMessage>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label>Descripción:</label>
                    <InputTextArea @bind-Value="reclamo.Descripcion" class="form-control"></InputTextArea>
                    <ValidationMessage For="(() => reclamo.Descripcion)"></ValidationMessage>
                </div>
            </div>

            <div class="row mb-3">
                <div class="col-12">
                    <label>Acción Tomada:</label>
                    <InputTextArea @bind-Value="reclamo.AccionTomada" class="form-control"></InputTextArea>
                    <ValidationMessage For="(() => reclamo.AccionTomada)"></ValidationMessage>
                </div>
            </div>
        </div>

        <div class="card-footer">
            <div class="input-group">
                <a href="/IndexReclamo" class="btn btn-outline-primary bi bi-arrow-return-left"> Volver</a>
                <button type="submit" class="btn btn-outline-success bi bi-floppy-fill"> Guardar</button>
            </div>
        </div>
    </div>
</EditForm>

@code {
    [Parameter]
    public int ReclamoId { get; set; }
    public Reclamos reclamo { get; set; } = new Reclamos();
    public List<Clientes> listaCliente { get; set; } = new List<Clientes>();

    protected override async Task OnInitializedAsync()
    {
        if (ReclamoId > 0)
        {
            this.reclamo.ReclamoId = ReclamoId;
            await this.Buscar();
        }
        listaCliente = await clienteservice.Listar(t => true);
        reclamo.FechaReclamo = DateTime.Now;
    }

    public async Task Buscar()
    {
        var reclamoEncontrado = await reclamoservice.Buscar(reclamo.ReclamoId);

        if (reclamoEncontrado != null)
        {
            this.reclamo = reclamoEncontrado;
        }
    }

    public async Task Guardar()
    {
        if (reclamo.ReclamoId <= 0 || reclamo.ClienteId <= 0)
        {
            return;
        }
        else
        {
            var guardo = await reclamoservice.Guardar(reclamo);
            if (guardo)
            {
                Atras();
            }
        }
    }

    void Atras()
    {
        Navigation.NavigateTo("/IndexReclamo");
    }
}
